<template>
  <div class="adsense-content">
    <div style="padding: 0 1.5rem;">
      <Adsense
        data-ad-client="ca-pub-1016984133618195"
        data-ad-slot="4123949787">
      </Adsense>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AdSense'
}

</script>
<style scoped>
  .adsense-content {
    max-width: 740px;
    margin: 0 auto;
  }
  .adsense-title {
    color: #999;
    transition: color 0.15s ease;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
</style>